$clr-primary--light: #f0f8ff;
$clr-primary--dark: #2c2c2c;

body {
    display: flex;
    justify-content: space-around;
}

/* BLOCK */
.card {
    margin: 2em;
    max-width: 300px;
    padding: 2em;
    box-shadow: 0 20px 30px -20px rgba(0, 0, 0, 0.4);
    
    &__paragraph {
        color: red;
    }
}

/* MODIFIERS */
.card--light {
    background-color: $clr-primary--light;
}

.card--dark {
    background-color: rgba($clr-primary--dark, 0.8);
    color: whitesmoke;
}

img {
    width: 100%;
}